In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display, HTML

# Configure pandas display
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
pd.set_option('display.width', None)

# Configure visualization style
sns.set_style("whitegrid")
plt.rcParams['figure.figsize'] = (12, 6)

print("‚úÖ Imports complete!")

‚úÖ Imports complete!

In [5]:
company_file = "../data/raw_data/raw_companies.csv" 
person_file = "../data/raw_data/raw_people.csv"    

companies = pd.read_csv(company_file)
people = pd.read_csv(person_file)

print(f"‚úÖ Loaded {len(companies)} companies")
print(f"‚úÖ Loaded {len(people)} people")

‚úÖ Loaded 100 companies
‚úÖ Loaded 503 people

# Overview

In [6]:
print("COMPANY DATASET")
print("=" * 60)
print(f"Shape: {companies.shape}")
print(f"Columns: {list(companies.columns)}")
display(companies.head())

print("\n\nPERSON DATASET")
print("=" * 60)
print(f"Shape: {people.shape}")
print(f"Columns: {list(people.columns)}")
display(people.head())

COMPANY DATASET
============================================================
Shape: (100, 5)
Columns: ['Company_Name', 'Website', 'Address', 'Revenue_in_Millions', 'Industry']

,Company_Name,Website,Address,Revenue_in_Millions,Industry
0,Potter LLC,maldonado.biz,"610 3rd St., Santa Rosa, California, 95404",407.81,Technology
1,Jackson Ltd,steele-barnett.com,"15045 River Rd., Guerneville, California, 95446",480.74,Healthcare
2,Torres Ltd,banks-carroll.com,"912 Cole Street, #338, San Francisco, Californ...",414.27,Hospitality
3,"Rich, Matthews and Jimenez",miller-burke.org,"1080 W. Old San Marcos Blvd., San Marcos, Cali...",370.96,Manufacturing
4,"Spears, Ellis and Rice",foster.net,"901 Gilman St., Berkeley, California, 94710",460.03,Retail

PERSON DATASET
============================================================
Shape: (503, 5)
Columns: ['Name', 'Email', 'Phone_Number', 'Company', 'Title']

,Name,Email,Phone_Number,Company,Title
0,Fernando Myers,FernandoMyers@testemail.com,4074627289,Martin-Gates,"Nurse, children's"
1,Danielle Sheppard,DanielleSheppard@testemail.com,001-580-334-4312,Brown PLC,Counsellor
2,Christian Castillo,ChristianCastillo@testemail.com,218.549.2269x012,Brown-Hawkins,Legal secretary
3,Christopher Miller,ChristopherMiller@testemail.com,+1-967-239-0327x53614,Nunez and Sons,Quantity surveyor
4,Larry Mata,LarryMata@testemail.com,001-773-633-6096,Anderson-Morris,Systems analyst

# Company -Deep Dive

In [7]:
print("COMPANY DATASET - DETAILED ANALYSIS")
print("=" * 60)

# Info
print("\nüìä Dataset Info:")
companies.info()

# Missing values
print("\nüö® Missing Values:")
missing = companies.isnull().sum()
missing_pct = (missing / len(companies) * 100).round(2)
missing_df = pd.DataFrame({
    'Missing': missing,
    'Percent': missing_pct
}).sort_values('Missing', ascending=False)
display(missing_df[missing_df['Missing'] > 0])

# Duplicates
print(f"\nüîÑ Duplicate Rows: {companies.duplicated().sum()}")

# Unique counts per column
print("\nüîë Unique Values per Column:")
unique_counts = pd.DataFrame({
    'Column': companies.columns,
    'Unique Values': [companies[col].nunique() for col in companies.columns],
    'Sample Values': [companies[col].dropna().head(3).tolist() for col in companies.columns]
})
display(unique_counts)

# Summary stats
print("\nüìà Summary Statistics:")
display(companies.describe(include='all'))

COMPANY DATASET - DETAILED ANALYSIS
============================================================

üìä Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Company_Name         100 non-null    object
 1   Website              100 non-null    object
 2   Address              100 non-null    object
 3   Revenue_in_Millions  100 non-null    float64
 4   Industry             100 non-null    object
dtypes: float64(1), object(4)
memory usage: 4.0+ KB

üö® Missing Values:

Empty DataFrame
Columns: [Missing, Percent]
Index: []

üîÑ Duplicate Rows: 0

üîë Unique Values per Column:

,Column,Unique Values,Sample Values
0,Company_Name,99,"[Potter LLC, Jackson Ltd, Torres Ltd]"
1,Website,96,"[maldonado.biz, steele-barnett.com, banks-carr..."
2,Address,100,"[610 3rd St., Santa Rosa, California, 95404, 1..."
3,Revenue_in_Millions,100,"[407.81, 480.74, 414.27]"
4,Industry,10,"[Technology, Healthcare, Hospitality]"

üìà Summary Statistics:

,Company_Name,Website,Address,Revenue_in_Millions,Industry
count,100,100,100,100.000000,100
unique,99,96,100,NaN,10
top,Richardson Ltd,gonzalez.org,"610 3rd St., Santa Rosa, California, 95404",NaN,Finance
freq,2,3,1,NaN,15
mean,NaN,NaN,NaN,237.026800,NaN
std,NaN,NaN,NaN,165.117954,NaN
min,NaN,NaN,NaN,-314.140000,NaN
25%,NaN,NaN,NaN,116.755000,NaN
50%,NaN,NaN,NaN,224.860000,NaN
75%,NaN,NaN,NaN,379.622500,NaN
max,NaN,NaN,NaN,495.060000,NaN

# Person - Deep Dive

In [8]:
print("PERSON DATASET - DETAILED ANALYSIS")
print("=" * 60)

# Info
print("\nüìä Dataset Info:")
people.info()

# Missing values
print("\nüö® Missing Values:")
missing = people.isnull().sum()
missing_pct = (missing / len(people) * 100).round(2)
missing_df = pd.DataFrame({
    'Missing': missing,
    'Percent': missing_pct
}).sort_values('Missing', ascending=False)
display(missing_df[missing_df['Missing'] > 0])

# Duplicates
print(f"\nüîÑ Duplicate Rows: {people.duplicated().sum()}")

# Unique counts per column
print("\nüîë Unique Values per Column:")
unique_counts = pd.DataFrame({
    'Column': people.columns,
    'Unique Values': [people[col].nunique() for col in people.columns],
    'Sample Values': [people[col].dropna().head(3).tolist() for col in people.columns]
})
display(unique_counts)

# Summary stats
print("\nüìà Summary Statistics:")
display(people.describe(include='all'))

PERSON DATASET - DETAILED ANALYSIS
============================================================

üìä Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          503 non-null    object
 1   Email         503 non-null    object
 2   Phone_Number  503 non-null    object
 3   Company       503 non-null    object
 4   Title         503 non-null    object
dtypes: object(5)
memory usage: 19.8+ KB

üö® Missing Values:

Empty DataFrame
Columns: [Missing, Percent]
Index: []

üîÑ Duplicate Rows: 2

üîë Unique Values per Column:

,Column,Unique Values,Sample Values
0,Name,498,"[Fernando Myers, Danielle Sheppard, Christian ..."
1,Email,498,"[FernandoMyers@testemail.com, DanielleSheppard..."
2,Phone_Number,499,"[4074627289, 001-580-334-4312, 218.549.2269x012]"
3,Company,89,"[Martin-Gates, Brown PLC, Brown-Hawkins]"
4,Title,357,"[Nurse, children's, Counsellor, Legal secretary]"

üìà Summary Statistics:

,Name,Email,Phone_Number,Company,Title
count,503,503,503,503,503
unique,498,498,499,89,357
top,Sarah Downs,SarahDowns@testemail.com,985-336-2055,Martinez PLC,"Sound technician, broadcasting/film/video"
freq,2,2,2,26,5

# ============================================================================
# CELL 6: Find the Relationship Key
# ============================================================================

In [9]:
print("RELATIONSHIP KEY DETECTION")
print("=" * 60)

# Look for linking columns in person dataset
person_cols_lower = {col: col.lower() for col in people.columns}
company_cols_lower = {col: col.lower() for col in companies.columns}

# Find potential company ID in person dataset
potential_link_cols = [
    col for col, col_lower in person_cols_lower.items()
    if 'company' in col_lower and ('id' in col_lower or 'key' in col_lower)
]

# Find potential ID columns in company dataset
potential_id_cols = [
    col for col, col_lower in company_cols_lower.items()
    if 'id' in col_lower or 'key' in col_lower
]

print("\nüîç Potential linking columns:")
print(f"  In people dataset: {potential_link_cols}")
print(f"  In company dataset: {potential_id_cols}")

# If found, store for next cell
if potential_link_cols and potential_id_cols:
    person_link_col = potential_link_cols[0]
    company_id_col = potential_id_cols[0]
    print(f"\n‚úÖ Using '{person_link_col}' (people) ‚Üî '{company_id_col}' (companies)")
else:
    print("\n‚ö†Ô∏è  Could not auto-detect. You'll need to manually specify columns.")
    person_link_col = None
    company_id_col = None

RELATIONSHIP KEY DETECTION
============================================================

üîç Potential linking columns:
  In people dataset: []
  In company dataset: []

‚ö†Ô∏è  Could not auto-detect. You'll need to manually specify columns.

# ============================================================================
# Data Quality Issues
# ============================================================================

In [11]:

print("DATA QUALITY ASSESSMENT")
print("=" * 60)

issues = []

# Check companies
for col in companies.columns:
    col_lower = col.lower()
    
    # Check important fields for nulls
    if any(keyword in col_lower for keyword in ['name', 'id', 'email']):
        null_count = companies[col].isnull().sum()
        if null_count > 0:
            issues.append({
                'Dataset': 'Companies',
                'Issue': f'{null_count} null values in {col}',
                'Severity': '‚ö†Ô∏è Medium' if 'name' in col_lower or 'id' in col_lower else '‚ö° Low'
            })
    
    # Check ID columns for duplicates
    if 'id' in col_lower:
        dup_count = companies[col].duplicated().sum()
        if dup_count > 0:
            issues.append({
                'Dataset': 'Companies',
                'Issue': f'{dup_count} duplicate IDs in {col}',
                'Severity': 'üö® High'
            })

# Check people
for col in people.columns:
    col_lower = col.lower()
    
    if any(keyword in col_lower for keyword in ['name', 'id', 'email']):
        null_count = people[col].isnull().sum()
        if null_count > 0:
            issues.append({
                'Dataset': 'People',
                'Issue': f'{null_count} null values in {col}',
                'Severity': '‚ö†Ô∏è Medium' if 'email' in col_lower else '‚ö° Low'
            })

# Display issues
if issues:
    issues_df = pd.DataFrame(issues)
    print("\nüö® Data Quality Issues Found:\n")
    display(issues_df)
else:
    print("\n‚úÖ No major data quality issues detected!")

DATA QUALITY ASSESSMENT
============================================================

‚úÖ No major data quality issues detected!

# ============================================================================
# Column Name Analysis
# ============================================================================

In [13]:
print("COLUMN NAME ANALYSIS")
print("=" * 60)

naming_issues = []

# Check companies
for col in companies.columns:
    if ' ' in col:
        naming_issues.append(f"Companies: '{col}' contains spaces")
    if col != col.lower():
        naming_issues.append(f"Companies: '{col}' has mixed case")

# Check people
for col in people.columns:
    if ' ' in col:
        naming_issues.append(f"People: '{col}' contains spaces")
    if col != col.lower():
        naming_issues.append(f"People: '{col}' has mixed case")

if naming_issues:
    print("\n‚ö†Ô∏è  Column Naming Issues (fix in Pipeline Builder):")
    for issue in naming_issues[:10]:  # Show first 10
        print(f"  ‚Ä¢ {issue}")
    if len(naming_issues) > 10:
        print(f"  ... and {len(naming_issues) - 10} more")
else:
    print("\n‚úÖ Column names are clean!")

COLUMN NAME ANALYSIS
============================================================

‚ö†Ô∏è  Column Naming Issues (fix in Pipeline Builder):
  ‚Ä¢ Companies: 'Company_Name' has mixed case
  ‚Ä¢ Companies: 'Website' has mixed case
  ‚Ä¢ Companies: 'Address' has mixed case
  ‚Ä¢ Companies: 'Revenue_in_Millions' has mixed case
  ‚Ä¢ Companies: 'Industry' has mixed case
  ‚Ä¢ People: 'Name' has mixed case
  ‚Ä¢ People: 'Email' has mixed case
  ‚Ä¢ People: 'Phone_Number' has mixed case
  ‚Ä¢ People: 'Company' has mixed case
  ‚Ä¢ People: 'Title' has mixed case

# ============================================================================
# CELL 10: Summary & Recommendations
# ============================================================================

In [15]:
print("SUMMARY & RECOMMENDATIONS FOR PIPELINE BUILDER")
print("=" * 60)

print("\nüìù Key Findings:")
print(f"  ‚Ä¢ {len(companies)} companies, {len(people)} people")
if person_link_col and company_id_col:
    print(f"  ‚Ä¢ Link via: people.{person_link_col} ‚Üí companies.{company_id_col}")
    avg_contacts = people[person_link_col].value_counts().mean()
    print(f"  ‚Ä¢ Average contacts per company: {avg_contacts:.1f}")

print("\nüîß Pipeline Transformations Needed:")
print("  1. Standardize column names (lowercase, underscores)")
print("  2. Handle missing values in critical fields")
if issues:
    print(f"  3. Address {len(issues)} data quality issues")
print("  4. Join datasets on linking column")
print("  5. Create computed fields as needed")

print("\nüìä Ontology Design:")
print("  ‚Ä¢ Company Object: Use company dataset")
print("  ‚Ä¢ Person Object: Use person dataset")
print(f"  ‚Ä¢ Link: Company 'has contacts' ‚Üí Person (one-to-many)")

print("\nüí° Workshop UI Suggestions:")
print("  ‚Ä¢ Company List: Show name, industry/status, contact count")
print("  ‚Ä¢ Company Detail: Show company info + related people")
print("  ‚Ä¢ Add Person Action: Select company from dropdown")

print("\n" + "=" * 60)
print("üõå EXPLORATION COMPLETE - NOW GO TO BED!")
print("=" * 60)
print("\nYou now know:")
print("  ‚úÖ Your data structure")
print("  ‚úÖ Quality issues to fix")
print("  ‚úÖ How to link companies and people")
print("  ‚úÖ What to build tomorrow")
print("\nSleep well! üò¥")

SUMMARY & RECOMMENDATIONS FOR PIPELINE BUILDER
============================================================

üìù Key Findings:
  ‚Ä¢ 100 companies, 503 people

üîß Pipeline Transformations Needed:
  1. Standardize column names (lowercase, underscores)
  2. Handle missing values in critical fields
  4. Join datasets on linking column
  5. Create computed fields as needed

üìä Ontology Design:
  ‚Ä¢ Company Object: Use company dataset
  ‚Ä¢ Person Object: Use person dataset
  ‚Ä¢ Link: Company 'has contacts' ‚Üí Person (one-to-many)

üí° Workshop UI Suggestions:
  ‚Ä¢ Company List: Show name, industry/status, contact count
  ‚Ä¢ Company Detail: Show company info + related people
  ‚Ä¢ Add Person Action: Select company from dropdown

============================================================
üõå EXPLORATION COMPLETE - NOW GO TO BED!
============================================================

You now know:
  ‚úÖ Your data structure
  ‚úÖ Quality issues to fix
  ‚úÖ How to link companies and people
  ‚úÖ What to build tomorrow

Sleep well! üò¥